[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "==1.1.1"
flask = "==2.3.2"
flask-admin = "==1.6.1"
dynaconf = "==3.2.1"
flask-sqlalchemy = "==3.0.5"
sqlalchemy-serializer = "*"
flask-migrate = "==4.0.4"
flask-cors = "==4.0.0"
apiflask = "==2.1.0"
pyjwt = "==2.8.0"
flask-jwt-extended = "==4.5.2"
gunicorn = "==21.2.0"
python-dateutil = "==2.8.2"
langchain = "==0.0.352"
mysqlclient = "==2.2.0"
tiktoken = "*"
celery = "*"
redis = {version = "*", extras = ["hiredis"]}
rich = "*"
gevent = "*"
flask-bcrypt = "*"
sentry-sdk = "==1.33.1"
flask-caching = "*"
sqlalchemy = "==2.0.23"
langchain-google-genai = "*"
pillow = "*"
imagekitio = "*"
trulens-eval = "*"
llama-index = "==v0.9.14.post3"
httpx = "*"
litellm = "*"
psutil = "*"

[dev-packages]
ipython = "==8.14.0"
black = "==23.7.0"
mypy = "==1.4.1"
pytest = "==7.4.0"
isort = "==5.12.0"
coverage = "==7.2.7"
faker = "==19.3.0"
flask-shell-ipython = "==0.5.1"
ipdb = "==0.13.13"
python-dotenv = "==1.0.0"
pytest-flask = "==1.2.0"
pytest-cov = "==4.1.0"
gitchangelog = "==3.0.4"
codecov = "==2.1.13"
types-setuptools = "==68.0.0.3"
ruff = "==0.0.283"

[requires]
python_version = "3.10"
python_full_version = "3.10.5"
